<!--<input #xxx [(ngModel)]="title" (input)="TitleState(xxx)">-->
<!--<div>{{xxx.value}}</div>-->

<!--<form #myForm='ngForm' (ngSubmit)="checkForm(myForm)">-->
<!--  <input [(ngModel)]="user.name" name="'name'">-->
<!--  <input [(ngModel)]="user.age" name="'age'">-->
<!--  <button> save </button>-->
<!--</form>-->

<form [formGroup]="myForm" (ngSubmit)="checkForm(myForm)">
  <div>
    <input [formControl]="name">
  </div>
  <div *ngIf="name.errors?.required" [classList]="'warning'"> this is required field</div>
  <div *ngIf="!!name.errors?.minlength">required - {{name.errors?.minlength.requiredLength}}
  actual - {{name.errors?.minlength.actualLength}}
  </div>
  <div>
    <input [formControl]="age">
  </div>

  <button [disabled]="!!myForm.invalid">save</button>

</form>

